@import "../variable.scss";
@import "../components/button.scss";

.team {
  padding-top: 7.5rem;
  background: #f4f5f7; 
  padding-bottom: 11.25rem;
  &-info {
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
    }

    h2 {
      font-weight: 900;
      font-size: 46px;
      color: #1e212c;
      margin: 8px 0 60px 0;
    }

    .controllers {
      position: relative;
      display: flex;
      justify-content: flex-end;
      .next {
        right: 40px;
        color: rgb(61, 61, 61);
        font-size: 40px;
        width: 48px;
        height: 48px;
        line-height: 0;
        text-align: center;
        border-radius: 50%;
        transition: all 0.7s;

        &::after {
          content: "";
        }
        &:hover {
          color: white;
          background: #ff3f3a;
        }
      }
      .prev {
        color: rgb(61, 61, 61);
        font-size: 40px;
        width: 48px;
        height: 48px;
        line-height: 0;
        text-align: center;
        border-radius: 50%;
        transition: all 0.7s;

        &::after {
          content: "";
        }
        &:hover {
          color: white;
          background: #ff3f3a;
        }
      }
    }
  }

  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        width: 285px !important;
        &-img {
          cursor: pointer;
          background: #ffcf2d;
          background-image: url("../../../public/assets/images/jpg/diana.png");
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: 90%;
          border-radius: 4px;
          height: 416px;
        }
        &-footer {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          p {
            font-weight: 700;
            font-size: 20px;
            color: #424551;
            margin: 20px 0 16px 0;
          }
          span {
            font-weight: 400;
            font-size: 16px;
            color: #787a80;
          }
        }
      }
    }
  }
}
